@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --d-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
    --green: hsl(75, 94%, 57%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}