@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --d-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
    --green: hsl(75, 94%, 57%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: var(--white);
}

body {
    background-color: var(--off-black);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-wrapper {
    background-color: var(--d-grey);
    border-radius: 10px;
    width: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.profile-avatar {
    border-radius: 50%;
    width: 40%;
}

.profile-name {
    font-size: 2em;
    font-weight: 700;
}

.profile-location {
    color: var(--green);
    font-weight: 600;
    margin-top: -20px;
}

.social-links {
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    width: 100%;
    border-radius: 10px;
    background-color: var(--grey);
    text-align: center;
    padding: 15px 0;
    border: 1px solid var(--grey);
}

li:hover {
    cursor: pointer;
    border-color: var(--white);
}

li:active {
    transform: scale(.99);
}

ul a {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    width: 100%;
    display: block;
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 440px) {
    .main-wrapper {
        width: calc(100vw - 40px);
        padding: 30px 10px;
    }
}