@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --d-raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --l-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --d-charcoal: hsl(24, 5%, 18%);
}

.young-serif {
    font-family: "Young Serif", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    color: var(--wenge-brown);
}

body {
    background-color: var(--eggshell);
}

.main-wrapper {
    background-color: var(--white);
    margin: 80px auto;
    width: 800px;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.banner-image {
    width: 100%;
    border-radius: 10px;
}

h1 {
    color: var(--d-charcoal);
    letter-spacing: 2px;
    font-weight: 600;
    margin: 10px 0;
}

h2 {
    color: var(--nutmeg);
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px
}

section.intro {
    position: relative;
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
}

section.intro h2 {
    color: var(--d-raspberry);
    font-size: 1.2em
}

section li::marker {
    color: var(--d-raspberry);
}

section.intro::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: var(--d-raspberry);
    opacity: .1;
    z-index: -1;
    border-radius: 10px;
    
}

ol,
ul {
    list-style-position: outside;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    margin-left: 25px;
    padding-right: 25px;
}

li span{
    position: relative;
    left: 20px;
    line-height: 140%;
}

ul li span {
    display: inline-block;
    vertical-align: middle;
}

li::marker {
    color: var(--nutmeg);
}

hr {
    border: 1px solid var(--l-grey);
}

table {
    border-collapse: collapse;
}

tr.bottom-border td {
    border-bottom: 1px solid var(--l-grey);
}

td {
    padding: 10px 0px 10px 30px;
}

td.type {
    position: relative;
}

td.value {
    color: var(--nutmeg);
    font-weight: 600;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 800px) {
    .main-wrapper {
        margin: 0;
        padding: 0 0 20px 0;
        border-radius: 0px;
        width: 100%
    }

    .banner-image {
        border-radius: 0px;
    }

    header,
    section,
    hr {
        margin: 0 20px;
    }
}