@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --d-raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-hite: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --l-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --d-charcoal: hsl(24, 5%, 18%);
}

.young-serif {
    font-family: "Young Serif", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    color: var(--wenge-brown);
}

body {
    background-color: var(--eggshell);
}

.main-wrapper {
    background-color: var(--white);
    margin: 80px auto;
    width: 800px;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner-image {
    width: 100%;
    border-radius: 10px;
}

h1 {
    color: var(--d-charcoal);
    letter-spacing: 2px;
    font-weight: 600;
}

h2 {
    color: var(--nutmeg);
}

ol,
ul {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li span,
ul span{
    margin-left: 20px;
}